language: rust
rust:
  - stable

os:
  - linux
  - osx
  - windows

dist: xenial
addons:
  apt:
    packages:
    - libgtk-3-dev

before_install:
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then choco install -y windows-sdk-10 ; fi

script:
  - cargo test --all
  - cargo build --release
  - if [ "$TRAVIS_OS_NAME" = "windows" ]; then cargo build --manifest-path ./eclipse-launcher/Cargo.toml --features win_console --bin eclipsec ; fi